[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.25.3"
numpy = "*"
psycopg2-binary = "*"
requests = "*"
redis = "*"
retry = "*"
cryptography = "==3.4.8"
pycryptodome = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.7"
